{{#partial "content" }}
<h1>Welcome to TeamApp!</h1>
<form action="/" method="post">
    <input type="text" placeholder="e-mail" name="email"/>
    <input type="text" placeholder="password" name="password"/>
    <button>Sign in</button>
</form>
{{/partial }}

{{> base.hbs }}