<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TeamApp</title>
</head>
<body>
<h1>Projects</h1>

<ul>
    <li>name1: description1</li>
    <li>name2: description2</li>
</ul>

<form action="/projects" method="post">
    <input type="text" placeholder="project name" name="projectname"/>
    <input type="text" placeholder="project desc" name="projectdesc"/>
    <button>Submit</button>
</form>
</body>
</html>