{{#partial "content" }}
    <h1 style="font-size: larger;">Projects</h1>

<ul>
    {{#each projectList }}
        <li>{{ name }}: {{ description }}</li>
    {{/each }}
</ul>

<form action="/projects" method="post">
    <input type="text" placeholder="project name" name="projectname"/>
    <input type="text" placeholder="project description" name="projectdesc"/>
    <button>Submit</button>
</form>
<br>
    <a href="/">Home</a>
{{/partial }}

{{> base.hbs}}